<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neegix.auth.infrastructure.repository.mapper.AuthMapper">
    <resultMap id="SysRoleResultMap" type="com.neegix.auth.infrastructure.repository.dataobject.RoleDO">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="name" property="name" />
        <result column="description" property="description" />
    </resultMap>

    <!-- 根据账号名称查询用户信息 -->
    <select id="selectRoleByUserId" resultMap="SysRoleResultMap">
        select role.* from sys_user_role_rel rel left join sys_role role on rel.pk_role = role.id  where pk_user=#{userId,jdbcType=BIGINT}
    </select>

    <!--  根据角色ID查询菜单权限  -->
    <select id="selectMenuPermissionByRoleIds" resultType="java.lang.String">
        select
            sm.access
        from
            sys_role sr
            left join sys_role_menu_rel srmr on
            sr.id = srmr.pk_role
            left join sys_menu sm on
            srmr.pk_menu = sm.id
        <where>
            sr.id in
            <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND sm.access IS NOT NULL
        </where>
    </select>

    <!--  根据角色ID查询菜单权限  -->
    <select id="selectApiPermissionByRoleIds" resultType="java.lang.String">
        select
            sa.access
        from
            sys_role sr
            left join sys_role_api_rel srar on
            sr.id = srar.pk_role
            left join sys_api sa on
            srar.pk_api = sa.id
        <where>
            sr.id in
            <foreach item="id" index="index" collection="list" open="(" separator="," close=")">
                #{id}
            </foreach>
            AND sa.access IS NOT NULL
        </where>
    </select>

    <resultMap id="SysUserResultMap" type="com.neegix.auth.infrastructure.repository.dataobject.UserDO">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
        <result column="create_user" property="createUser" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 根据账号名称查询用户信息 -->
    <select id="selectUserByName" resultMap="SysUserResultMap">
        select * from sys_user where name=#{name,jdbcType=VARCHAR}
    </select>
</mapper>